@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root {
  --primary: #d3363f;
  --dark: #242424;
  --light:#eee;
  --font:'Roboto', sans-serif;
  --card: #1c1c1c;
  --shadow: 10px 10px 5px lightblue;
}

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  font-family: var(--font);
  color: var(--light);
}